table, th, td {
  border: 1px dotted black;
  width: 300px;
  text-align: center;
}

body{
  background-color: hsla(9, 100%, 70%, 0.5)
}

/* attribute, =, ^, $, ~, |, * */
[href="https://altschoolafrica.com"]{
              color: rebeccapurple;}
/* Start with http */
[href^="https"]{
              color: rebeccapurple;}
/* Ends with .io */
[href$=".io"]{
              color: rebeccapurple;}
/* Contains  */
[href*="altschool.dev"]{
              color: rebeccapurple;}

/* Pseudo-classes: Use to style element based on their state,position, or user interactions  */
button:hover{
  background-color: orange;}
li:nth-child(even) {
  text-transform: uppercase;}
input:focus {
  border: 2px solid red;}
/* Pseudo-element: Use to style specific element based on their state,position, or user interactions  */
p::before {
  content: "👽";
  display: flex;}

p::after {
  content: "😎";
  display: flex;}
/* Descendant selector */
P span{
  text-decoration: underline;}
  p span {
    color: red;
  }
/* Pseudo-Classes selectors */
button:hover {
  background-color: orange;
}

li:nth-child(even) {
  text-transform: uppercase;
}

input:focus {
  border: 2px solid red;
}
/* Child selector selectors */
ul > li {
  list-style: none;
}
/* Adjacent Sibling selectors */
h1 + p {
  margin-top: 0;
}
/* General Siblings selectors */
h1 ~ p {
  color: blue;
}
/* Grouping selector */
h1, h2, h3 {
  margin-bottom: 10px;
}
/* Nesting Selectors & */
.container {
  padding: 20px;
  .title {
    color: red;
  }
  &:hover, &:focus {
    background-color: lightblue;
  }
}

/* Has() Pseudo Selector */
figure:has(figcaption) {
  border: 1px solid black;
  padding: 0.5rem;
/* IS() Pseudo Selector */
}
:is(h1, h2, h3) {
  color: red;
}

h2{
  color: blue;
}

.title1 {
  color: yellow;
}

#content.menu li:hover{
  color: green;
}

div p.note{
  background-color: orange;
}

/*
.h1 {
  color: red !important;
}   */

* {
  box-sizing: border-box;
  
}

p {
  color: green;
  font-weight:500px;
}

.parent {
  color: red;
  font-size: 20px;
  background-color: lightgray;
}

.child-inherit {
  all: inherit;
}

html {
  --red-hue: 0deg;
  --red-sat: 100%;
  --red-lit: 50%;

  --red: hsl(
    var(--red-hue)
    var(--red-sat)
    var(--red-lit)
  );
  --dark-red: hsl(
    var(--red-hue)
    var(--red-sat)
    calc(var(--red-lit) - 20%)
  );
  --transparent-red: hsl(
    var(--red-hue)
    var(--red-sat)
    var(--red-lit) / 0.5
  );
  --soft-red: hsl(
    var(--red-hue)
    calc(var(--red-sat) - 30%)
    calc(var(--red-lit) + 10%)
  );
}